<main>
  <!-- Login -->
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-span-6 col-sm-6">
          <figure>
            <img src="./assets/images/background_login.png" alt="" />
          </figure>
        </div>
        <div class="col-span-6 col-sm-6">
          <form action="" method="post">
            <span>Bienvenido</span>
            <h1>Inicia Sesión</h1>
            <div class="control">
              <ui-input label="Correo Electrónico" type="email"></ui-input>
            </div>
            <ui-input label="Contraseña" type="password"></ui-input>
            <mat-checkbox color="primary">Recordar correo</mat-checkbox>
            <ui-button color="primary" content="Ingresar"></ui-button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
